:root {
  --text-color: #000000;
  --link-color: #3c7ded;
  --background-color: #f0f1f3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "poppins", sans-serif;
  background-color: var(--background-color);
  max-width: 1400px;
  margin: 0 auto;
}
a {
  color: var(--link-color);
  text-decoration: none;
}

/*NAVBAR*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 50px;
}
nav .left a {
  font-size: 20px;
  color: var(--text-color);
  font-weight: 600;
}
nav .right a {
  font-size: 15px;
  color: var(--text-color);
  font-weight: 500;
  margin: 0 3px;
}
nav .right a:last-child {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 5px 10px;
  border-radius: 5px;
}
nav .right a span {
  margin-left: 3px;
}

/*Hero Section*/
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 20px 0;
  margin-bottom: 50px;
  gap: 50px;
}
.hero-section .text .links {
  margin-top: 20px;
}
.hero-section .text .links a {
  display: inline-block;
  padding: 2px 7px;
  border: 1px solid var(--link-color);
  border-radius: 5px;
  margin-right: 2px;
  margin-bottom: 5px;
  transition: 1s;
}
.hero-section .text .links a:hover {
  color: var(--text-color);
  border-color: var(--text-color);
}
.hero-section .text h2 {
  font-size: 40px;
}

.hero-section .text {
  flex: 8px;
}
.hero-section .headshot {
  flex: 1px;
  display: flex;
  justify-content: right;
}
.hero-section .headshot img {
  border-radius: 10%;
  width: 350px;
}

/* Skill Section */
.skills-section {
  padding: 0 50px;
  margin-bottom: 100px;
}
.skills-section h2 {
  text-align: center;
  font-size: 35px;
}
.skills-section .text {
  text-align: center;
  margin-bottom: 10px;
}
.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skills-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;

  width: 200x;
  padding: 0 50px;
  margin: 3px;
  border: 1.5px solid rgb(220, 218, 218);
  border-radius: 10px;
}
.skills-section .cells .cell img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  border-radius: 2px;
}

/* Project Section */
.projects-section {
  padding: 0 50px;
  margin-bottom: 100px;
}
.projects-section h2 {
  font-size: 30px;
  text-align: center;
}
.projects-section p {
  text-align: center;
}

/* Contact Section */
.contact-section {
  padding: 0 50px;
  margin-bottom: 100px;
}
.contact-section .group {
  display: flex;
}
.contact-section h2 {
  font-size: 30px;
}
.contact-section .group p {
  flex: 4;
  margin-right: 50px;
  margin-bottom: 50px;
}
.contact-section .group form {
  flex: 6;
  display: flex;
  flex-direction: column;
}
.contact-section .group form input,
.contact-section .group form textarea {
  font-family: "poppins", sans-serif;
  border: 1px solid var(--link-color);
  padding: 5px;
  margin-bottom: 5px;
  outline: none;
  resize: none;
  background-color: transparent;
}
.contact-section form button {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  margin-top: 5px;
  background-color: var(--link-color);
  cursor: pointer;
  transition: 1s;
}
.contact-section form button:hover {
  filter: brightness(0.5);
}

/*For resizing the Screen/Responsiveness*/
@media (max-width: 800px) {
  /*Hero Section */
  .hero-section .text h2 {
    font-size: 25px;
  }
  /* Skill Section */
  .skills-section h2 {
    font-size: 25px;
  }
}

@media (max-width: 750px) {
  /*Hero Section */
  .hero-section {
    flex-direction: column-reverse;
  }
  .hero-section .headshot img {
    width: 200px;
  }
  /* Contact Section */
  .contact-section .group {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  /*Navbar*/
  nav {
    padding: 0 10px;
  }
  nav .left a {
    font-size: 18px;
  }
  nav .right a:last-child {
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 0 0;
  }
  nav .right a span {
    display: none;
  }

  /* Hero Section */
  .hero-section {
    padding: 0 10px;
  }

  /* Skill Section */
  .skills-section {
    padding: 0 10px;
  }
  /* Contact Section */
  .contact-section {
    padding: 0 10px;
  }
}
